page-home {

#bg-img{
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content, .content-md{
    margin-top: 57px;
}

.fixed-content{
    margin-top: 80px;
}

.toolbar-background, .toolbar-background-md{
    color:#071821;
    background:#071821;
}

.toolbar-title, .toolbar-title-md{
    color:white;
}

.input-wrapper{
    margin-top: 70px;
}

#title{
    text-align: center;
    justify-content: center;
    color: white;
}

.item{
    background:rgba(255, 255, 255, 0.0);
    justify-content: center;
    display: block;
    text-align: center;
}

.list{
    margin-top: 5px;
    display: block;
    text-align: center;
}
.btn{
    display: block;
    text-align: center;
    
}

}
